# This is Git's per-user configuration file.
[user]
	name = César Claude
	email = cesarclaudepro@gmail.com
	signingkey = /Users/cesar/.ssh/signing.pub

[gpg]
	format = ssh

[includeIf "gitdir:~/workspace/perso/"]
  path = ~/.gitconfig-perso

[credential]
	helper = /usr/local/share/gcm-core/git-credential-manager

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
